.contenedor {
    display: flex;
    background-color: darkseagreen;
    margin: auto;
    max-width: 80%;
    justify-content: space-around;
    padding: 2vw;
    border-radius: 2vw;
    border-style:ridge;
}

.imgDetail {
    border-top-style: groove;
}

.contenedor {
    animation: rotateDetail;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
}

@keyframes rotateDetail {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(720deg);
    }
}