.contenedor {
  display: flex;
  flex-direction: column;
  min-width: 10vw;
  align-items: right;
}

.navBut {
  background-color: aqua;
  color: blueviolet;
  min-width: 15vw;
  border-radius: 40%;
  margin: 1vw;
  padding: 5%;
}
