.contenedor {
  display: flex;
  flex-direction: column;
  min-width: 10vw;
  align-items: right;
}

.navBut {
  background-color: transparent;
  border-color: burlywood;
  outline-color: ;
  min-width: 15vw;
  border-radius: 15%;
  margin: 1vw;
  padding: 5%;
}

.link {
  color:bisque; 
  font-size: 1.2em;
}
